html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

img {
    margin:0;
    max-width:28vw;
}

body {
    margin-bottom: 60px;
}
h1{
    margin:1vw;
}
.hover:hover{
    border-bottom: 1px solid white;
    transition:ease-in-out;
    transition-duration: 500ms;
}
.hover{
    border: 1px solid transparent;
    padding:0;
    margin:8px;
}
button {
    background: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    display:block;
    margin: 1vw auto;
}

button:hover {
    box-shadow: 0 0 5px 1px rgba(0,140,186, 0.5);
}

#cv > div {
    background-color: rgba(0, 0, 0, 0.15);
    max-width:60vw;
    padding:1vw;
    margin: auto;
}
a {
    text-decoration: none;
}
.white {
    color: white;
    background-color: #0a66c2;
    padding: 0 3px 0 3px;
    margin-left:1px;
    border-radius: 3px;
}
.linkedin {
    color: #0a66c2;
}
.git {
    color: #7742c7;
}
.git:hover {
        color: #7742c7;
}
li {
    list-style:none;
}